@font-face{
    font-family: 'Avenir Next Medium';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Medium.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Avenir Next Bold';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Bold.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Avenir Next Regular';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Regular.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Avenir Next Italic';
    src: url('../fonts/avenir-next/AvenirNext-Italic.ttf');
    font-display: auto;
}

@font-face{
    font-family: 'Poppins Medium';
    src: url('../fonts/poppins/Poppins-Medium.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Poppins Regular';
    src: url('../fonts/poppins/Poppins-Regular.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Poppins Bold';
    src: url('../fonts/poppins/Poppins-Bold.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Avenir Next Medium';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Medium.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Avenir Next Bold';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Bold.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Avenir Next Regular';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Regular.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Avenir Next Italic';
    src: url('../fonts/avenir-next/AvenirNext-Italic.ttf');
    font-display: auto;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    padding: 0 9.6%;
    display: flex;
    height: 76px;
    background-color: #F2F2F2;
    font-family: 'Poppins Medium';
    font-size: 14px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

nav .logo{
    margin: auto 0;
    top: -5px;
    position: relative;
}

nav ul.links{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

nav ul.links li{
    margin-right: 14px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    position: relative;
}

nav ul.links li.active span,nav ul.links li:hover span{
    background-color: #ed1c24;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
}

nav ul.links a{
    text-decoration: none;
    color: #596869;
    font-size: 14px;
    padding: 5px 0;
}

.top-image{
    height: 420px;
    width: 100%;
    background-image: url('../images/Blog-hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.top-image .shadow{
    height: 100%;
    width: 100%;
    background-color: rgba(5, 60, 94, 0.5);
    position: relative;
    z-index: 1;
    padding-top: 228px;
    font-size: 48px;
    font-family: 'Poppins Bold';
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.back{
    height: 28px;
    font-family: 'Poppins Medium';
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #ed1c24;
    text-decoration: none;
    margin-left: 15%;
    margin-top: 60px;
}

.back img{
    height: 16px;
    margin-right: 5px;
}

.article{
    width: 70%;
    margin: 50px auto;
}

.article__title{
    font-size: 30px;
    color: #213642;
    margin: 0;
    font-family: 'Poppins Regular';
    text-transform: uppercase;
}

.article__details{
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-family: 'Poppins Medium';
    margin: 10px 0 11px;
}
.image_description{
    font-size: 12px;
    font-family: 'Poppins Medium';
    color: rgba(0, 0, 0, 0.54);
}
.wrap_image_and_text{
    display: flex;
    flex-direction:column;
}
.social-media{
    font-size: 16px;
    font-family: 'Poppins Medium';
    color: #213642;
    margin: 0;
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 32px;
}


.social-media a{
    margin-left: 10px;
    display: flex;
}

.article__img{
    width: 100%;
    margin: 0px 0 40px;
}
/* .article__img1{
    width: 100%;
    margin: 0px 0 40px;
} */

.article__img--left{
    float: left;
    margin: 10px 30px 10px 0px;
    width: 50%;
}

@media screen and (max-width: 450px) {
    .article__img--left:not(.circle) {
        margin-bottom: 20px;
        float: unset;
        width: 100%;
    }

    .article__img--left:not(.circle) + .article__text {
        clear: both;
    }
}

.article__img--left.circle{
    shape-outside: circle(50%);
}

.article__text{
    font-size: 16px;
    font-family: 'Poppins Regular';
    color: rgba(0, 0, 0, 0.84);
    line-height: 1.9;
    margin-bottom: 100px;
}

.article__text.columns{
    column-count: 2;
    column-gap: 20px;
    text-align: justify;
}

.article__text h3,
.article__text h4{
    margin: 15px 0;
}

.article__text h3.no-margin{
    margin-top: 0;
}

.article__text img  {
    width: 100%;
}

.article__text img.signature{
    width: unset;
    max-width: 100%;
}

.article__text p {
    margin: 23px 0;
}

.sub-heading{
    font-family: 'Poppins Medium'
}

.article__list{
    padding: 0 20px;
    list-style-type: decimal;
}

@media(max-width: 1050px) {
    .article {
        width: 90%;
    }

    .back {
        margin-left: 5%;
    }
}

@media(max-width: 600px){
    .article__text{
        font-size: 14px;
    }
}

@media(max-width: 400px){
    nav{
        padding: 0 5%;
    }
}
