@font-face{
    font-family: 'Avenir Next Medium';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Medium.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Avenir Next Bold';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Bold.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Avenir Next Regular';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Regular.otf');
    font-display: auto;
}

@font-face{
    font-family: 'Avenir Next Italic';
    src: url('../fonts/avenir-next/AvenirNext-Italic.ttf');
    font-display: auto;
}

@font-face{
    font-family: 'DroidSerif-Bold';
    src: url('../fonts/droid-serif/DroidSerif-Bold.ttf');
}

@font-face{
    font-family: 'Nunito Sans Regular';
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-display: auto;
}

:root{
    --nakise-bg: #FF7845;
    --nakise-color: #FF7845;
    --bdei-bg: #b70807;
    --bdei-color: #B70807;
    --nwt-bg: #9e13c0;
    --nwt-color: #9e13c0;
    --wt-bg: #9E13C0;
    --wt-color: #9E13C0;
}

html{
    scroll-behavior: smooth
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

nav{
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}

.background-img{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 420px;
}

.background-img--board{
    object-position: 0 -105px
}

.header-text{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-family: 'Avenir Next Bold', sans-serif;
    color: white;
    height: 420px;    
    background: rgba(0,0,0,0.4);
}

.header-text p{
    margin-top: 150px;
    text-align: center;
}

.program-nav{
    height: 60px;
    width: 100%;
    background-color: #F2F2F2;
    box-sizing: border-box;
    transition: 300ms;
    z-index: 10;
    display: flex;
    justify-content: center;
    position: relative;
}

.program-nav button,.program-nav a{
    display: inline-flex;
    height: 60px;
    background-color: transparent;
    border: none;
    font-family: 'Avenir Next Medium', sans-serif;
    font-size: 14px;
    color: #596869;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    margin: 0 75px; 
}

.program-nav button.active{
    color: #213642;
    border-bottom: 3px solid #FF576B;
}

.program-nav span.line{
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #FF576B;
    width: 104px;
    transition: 100ms;
}

.program-nav a.active{
    border-bottom: 3px solid #FF576B;
    box-sizing: border-box;
}

.program-nav a.active span{
    color: #213642;
}

.program-nav a:hover{
    border-bottom: 3px solid #FF576B;
}

.program-nav a:hover span{
    color: #213642;
}

.program-nav a:hover span{
    color: #213642;
}

.link-to-site{
   margin: 30px auto;
   /* border: 1px solid red; */
   /* width: 250px; */
   text-align: center;
}

main{
    padding: 0 122px 0 172px;
}

.goal{
    width: 298px;
    position: relative;
    font-family: 'Avenir Next Regular' ,sans-serif
}

.goal-header{
    width: 298px;
    height: 55px;
    background: #e7e7e7;
    position: relative;
    margin-bottom: 5px;
    z-index: 3;
    font-size: 20px;
    padding-left: 18px;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 0;
}

.goal-header::before {
    content: "";
    position: absolute;
    right: 45%;
    top: 80%;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 20px solid #e7e7e7;
    z-index: 3;
    border-left: 10px solid transparent;
}

.goal-text{
    width: 298px;
    min-height: 124px;
    position: relative;
    padding: 16px 14px 18px 18px;
    box-sizing: border-box;
}

.goal-text::before {
    content: "";
    position: absolute;
    right: 45%;
    top: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 20px solid white;
    border-left: 10px solid transparent;
    z-index: 2;
}

.goal-text p{
    font-size: 14px;
    color: white;
}


.visit-website:hover span{
    text-decoration: underline;
}

.goal-text a{
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.goal-text img{
    top: 2px;
    position: relative;
}

.outcome-header{
    margin: 60px 0 10px;
    font-family: 'Avenir Next Regular', sans-serif;
}

.line{
    width: 298px;
    height: 2px;
    display: block;
    border-radius: 2px;
    margin-bottom: 12px;
}
.pilot-state{
    margin-right:20px;
}
.bold{
    font-family: 'Avenir Next Bold' ,sans-serif 
}

.outcome-text{
    font-family: 'Avenir Next Regular', sans-serif;
    font-size: 14px;
    color: #3b3b3b;
}

.description-text{
    font-family: 'Avenir Next Regular', sans-serif;
    font-size: 16px;
    color: #3b3b3b;
    width: 100%;
    line-height: 1.4;
}

.description-text p,.description-list{
    margin-bottom: 28px;
    margin-top: 0;
    line-height: 1.8;
}

.objectives-header{
    font-family: 'Avenir Next Medium' ,sans-serif
}

.objectives,.description-list{
    list-style-type: square;
    list-style-position: outside;
    padding-left: 20px;
}


.objectives li{
    margin-bottom: 14px;
}

section{
    margin-top: 60px;
}

section .header{
    font-family: 'Avenir Next Bold', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #C6C6C6;
    margin: 0 0 40px;
}

.program-description{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    width: 100%;
    grid-gap: 46px;
    /* margin-top: 96px; */
    margin-top: 70px;
}

.program-description.hasboard{
    margin-top: 96px;
}

.gallery{
    margin-bottom: 0;
}

.gallery-images{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.gallery-images img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.view-full-gallery{
    margin-top: 30px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.view-full-gallery a{
    color: #ff576b;
    font-family: 'Avenir Next Medium', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.button-wrapper{
    position: relative;
}

.testimonials-wrapper{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

.testimonial-scroll-btn{
    position: absolute;
    top: 50%;
    height: 20px;
    margin-top: -10px;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    z-index: 4;
    cursor: pointer;
}

.partner-scroll-btn{
    top: 110px;
}

.testimonials{
    position: relative;
}

.testimonial-scroll-btn.active{
    display: block;
}


.testimonial p{
    line-height: 1.8;
}

.testimonials__content{
    display: flex;
    width: 100%;
    scroll-behavior: smooth;
    padding-bottom: 30px;
    padding-top: 62px;
}

.testimonial{
    width: 47%;
    font-family: 'Avenir Next Regular', sans-serif;
    font-size: 14px;
    display: flex;
    padding: 60px 30px 10px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    box-sizing: border-box;
    color: #3B3B3B;
    margin-right: 30px;
    position: relative;
    text-align: center;
    transition: 200ms;
    line-height: 1.44;
    flex: 1 0 auto;
}

.testimonial:not(:last-of-type){
    margin-right: 5%;
}

.testimonial:hover{
    box-shadow: 7px 7px 40px 0 rgba(0, 0, 0, 0.1);
    border-color: white;
}

.testimonial .testimonial__img{
    width: 90px;
    height: 90px;
    top: -45px;
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .details{
    margin: auto 0 10px;
}

.testimonial .details p{
    margin: 5px 0;
}

.testimonial .author{
    font-family: 'Avenir Next Medium', sans-serif;
    color: #083A55;
}

.testimonial .about{
    font-size: 12px;
    text-align: center;
    color: #898989;
}

.testimonial-scroll-btn.left{
    left: -40px;
}

.testimonial-scroll-btn.right{
    right: -40px;
}

.testimonial-scroll-btn.active {
    display: block;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 46px;
    padding-bottom: 20px;
}

.board-member{
    border: 1px solid #E8E8E8;
    padding: 0;
    text-align: center;
    position: relative;
    transition: 300ms;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.board-member img{
    width: 101px;
    margin: 20px auto;
    border-radius: 50%;
}

.board-member:not(.active) .big{
    display: none;
}

.board-member.active{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color: #083A55;
    top: 0;
    left: 0;
    border: none;
    padding: 0 5%;
    box-sizing: border-box;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: unset;   
}

.board-member .close-board{
    display: none
}

.board-member.active .close-board{
    display: flex;
    position: absolute;
    top: 50px;
    right: 40px;
    cursor: pointer;
    background: transparent;
    border: none;
    height: 30px;
    width: 30px;
    background-image: url('../images/cancel.svg');
    outline: none;
    z-index: 4;
}

.board-member.active img{
    margin: 0 25px 0 0;
}

.board-member.active .line{
    display: none;
}

.board-member.active .board-member-role{
    display: flex;
    color: white;
    font-family: 'Avenir Next Medium', sans-serif;
    align-items: center;
    min-width: 550px;
    position: relative;
    margin-bottom: 20px;
}


.board-member.active .board-member-role div{
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding: 20px 0;
    box-sizing: border-box;
}

.board-member.active .board-member-role .name{
    font-size: 24px;
    margin: 0;
}

.board-member.active .board-member-role .role{
    font-size: 18px;
    margin: 0;
    color: #898989;
}

.board-member.active .board-member-description{
    color: white;
    text-align: left;
    font-family: 'Avenir Next Regular', sans-serif;
    font-size: 18px;
    max-width: 550px;
    height: 50vh;
    overflow: auto;
    width: 100%;
}

.board-member.active .board-member-description::-webkit-scrollbar{
    width: 5px;
}

.board-member.active .board-member-description::-webkit-scrollbar-track{
    background: transparent;
}

.board-member.active .board-member-description::-webkit-scrollbar-thumb{
    background: rgb(114, 113, 113);
    border-radius: 4px;
}

.board-member.active .board-member-description::-webkit-scrollbar-thumb:hover{
    background: #555; 
}

.board-member.active p.big:last-of-type{
    margin-bottom: 0;
}

.board-member.active .board-member-details{
    display: none;
}

.board-member:hover{
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}

.board-member .line{
    height: 8px;
    background-color: #FF576B;
    width: 100%;
    display: block;
    margin-bottom: 0;
}

.board-member-description{
    padding: 0 20px;
    font-family: 'Avenir Next Regular', sans-serif;
    font-size: 12px;
    color: #3B3B3B;
    position: relative;
    text-align: center;
    line-height: 25px;
    margin: 0 0 20px;
}

.board-member-details{
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.board-member-name{
    font-size: 14px;
    font-family: 'Avenir Next Medium', sans-serif;
    color: #213642;
    margin: 0 0 7px;
}

.board-member-position{
    font-size: 12px;
    font-family: 'Avenir Next Regular', sans-serif;
    color: #898989;
    margin: 0 auto;
    width: 90%;
}

@media(max-width: 1200px){
    main{
        padding: 0 56px;
    }
}

@media(max-width: 1075px){
    .board{
        grid-gap: 36px;
    }
}

@media(max-width: 960px){
    .background-img--board{
        object-position: 0 0;
    }
}

@media(max-width: 875px){
    .board{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 760px){
    main{
        padding: 0 40px;
    }
    .program-description{
        grid-template-columns: 1fr;
        margin-top: 55px;
    }
    .description-text{
        grid-row: 1;
    }
    .designs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .outcome-header{
        margin-top: 0;
    }
    .subtext{
        width: 100%;
    }
    .line{
        width: 100%;
    }
    .board-member{
        max-width: 400px;
        margin: auto;
    }
    .board{
        grid-template-columns: 1fr;
    }
    .board-member.active .board-member-role{
        flex-direction: column;
        width: 100%;
        align-items: center;
        top: -30px;
        position: relative;
        min-width: unset;
        left: unset;
    }
    .board-member.active .board-role div{
        text-align: center;
    }
    .board-member.active .board-member-description{
        top: 0;
        width: 90%;
    }
    .board-member.active .close-team{
        height: 20px;
        width: 20px;
        background-size: contain;
    }
    .testimonial-scroll-btn{
        height: 24px;
    }
    .testimonial-scroll-btn img{
        height: 24px;
    }
}


@media(max-width: 700px){
    .board{
        grid-template-columns: 1fr;
    }
    .board-member{
        max-width: 320px;
        margin: auto;
    }
}

@media(max-width: 650px){
    header .header{
        width: 95%;
    }
    header .subtext{
        width: 85%;
    }
    main{
        padding: 0 5%;
    }
    .designs{
        grid-template-columns: 1fr;
    }
    .gallery-images{
        grid-template-columns: repeat(4,1fr)
    }
    .gallery-images img:nth-of-type(2){
        display: none;
    }
    .goal,.goal-header,.goal-text{
        width: 100%;
    }
    section .header,
    .header-text p{
        font-size: 50px;
    }
    .header-text p{
        margin-top: 70px;
    }
    .testimonial{
        width: 90%;
    }
    .testimonial-scroll-btn.left{
        left: -5%;
        padding: 0 0 0 2px;
    }
    .testimonial-scroll-btn.right{
        right: -5%;
        padding: 0 2px 0 0;
    }
}

@media(max-width: 580px){
    .gallery-images{
        grid-template-columns: repeat(2,1fr)
    }
    .program-nav button, .program-nav a{
        margin: 0 10%;
    }
    .description-text{
        font-size: 14px;
    }
    section .header{
        font-size: 40px;
    }
}

.objectives-header.nakise,
.outcome-header.nakise{
    color: var(--nakise-color)
}

.goal-text.nakise{
    background: var(--nakise-bg);
}

.line.nakise{
    background-color: var(--nakise-color);
}

.objectives-header.bdei,
.outcome-header.bdei{
    color: var(--bdei-color)
}

.goal-text.bdei{
    background: var(--bdei-bg);
}

.line.bdei{
    background-color: var(--bdei-color);
}

.objectives-header.nwt,
.outcome-header.nwt{
    color: var(--nwt-color)
}

.goal-text.nwt{
    background: var(--nwt-bg);
}

.line.nwt{
    background-color: var(--nwt-color);
}

.objectives-header.wt,
.outcome-header.wt{
    color: var(--wt-color)
}

.goal-text.wt{
    background: var(--wt-bg);
}

.line.wt{
    background-color: var(--wt-color);
}